h1 {
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--primary-text);
}

label {
  display: block;
  font-size: 0.7rem;
  font-weight: 600;
  color: #374151d5;
  margin-bottom: 0.4rem;
  text-transform: uppercase;
}

input,
select {
  font-size: 0.9rem !important;
  padding: 8px !important;
  border: 1px solid #d1d5db !important;
  /* border-radius: 4px ; */
  border-radius: 0.375rem !important;
  width: 100% !important;
  outline: none;
  /* padding: 0.75rem 1rem;    py-3 = 0.75rem, px-4 = 1rem */
}

select {
  padding: 9.2px !important;
}

input:focus,
select:focus,
textarea:focus {
  box-shadow: 0 0 0 1.5px #111827a2;
}

input::placeholder {
  color: #999;
  font-size: 0.9rem !important;
  font-weight: 400;
}

textarea::placeholder {
  color: #999;
  font-size: 0.9rem !important;
  font-weight: 400;
}

textarea {
  font-size: 0.9rem !important;
  padding: 8px !important;
  border: 1px solid #d1d5db !important;
  border-radius: 0.375rem !important;
  width: 100% !important;
  resize: vertical;
  box-sizing: border-box;
}

/* Table Header */

.table-search-input {
  padding-left: 2.25rem !important;
  padding-right: 0.75rem !important;
  padding-top: 0.45rem !important;
  padding-bottom: 0.45rem !important;
  border-radius: 0.25rem !important;
  background-color: #f3f4f6 !important;
  border: 1px solid #e5e7eb !important;
  font-size: 0.875rem !important;
  outline: none !important;
  width: 12rem !important;
}

@media (min-width: 640px) {
  .search-input {
    width: 16rem !important;
  }
}

button {
  padding: 0.5rem 1rem !important;
  border-radius: 0.25rem !important;
  color: white !important;
  font-size: 0.875rem !important;
  font-weight: 500 !important;
  border: none !important;
  cursor: pointer !important;
}

button:hover {
  scale: 0.98;
}

/* Table */

.custom-table {
  width: 100%;
  font-size: 14px;
  border-collapse: collapse;
  text-align: left;
  font-family: "Inter", sans-serif;
}

.custom-thead {
  background-color: #f3f4f6;
  color: #4b5563;
  font-weight: 500;
}

.custom-thead th {
  padding: 12px;
  font-size: 13px;
  text-transform: uppercase;
}

.custom-row {
  cursor: pointer;
  transition: background-color 0.2s;
}

.custom-row:hover {
  background-color: #eff6ff; /* blue-50 */
}

.even-row {
  background-color: white;
}

.odd-row {
  background-color: #f9fafb; /* gray-50 */
}

.custom-row td {
  padding: 12px;
  vertical-align: middle;
}

.name-cell {
  display: flex;
  align-items: center;
  gap: 8px;
}

.avatar {
  width: 24px;
  height: 24px;
  border-radius: 9999px;
  object-fit: cover;
}

.action-label {
  width: 6rem !important; /* !w-24 = width: 6rem with !important */
  text-align: center;
}

.action-icons {
  display: flex !important;
  align-items: center !important;
  gap: 13px !important;
  justify-content: center !important;
}

.edit-icon {
  font-size: 16px;
}

.edit-icon:hover,
.delete-icon:hover {
  scale: 1.2;
}
