@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: #000;
  background-color: #ffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Colors */

  --primary-text: rgba(30, 58, 138, 0.9);
}

.shdowMain {
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3) !important;
}
